.img-responsive {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 640px;
  max-height: 455px;
}
.navbar-nav {
  align-items: flex-end;
}
.jumbotron {
  background-image: url(../images/dog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
  width: 100%;
  text-align: center;
}



.col-sm-4 img {
  padding: 25px;
}
.card-body img {
  padding: 15px;
}
